build/
build-*/
cmake-build-*/

backup/

tmp/
*.tar.gz
*.log

3rd_party/install/
3rd_party/**/build/
3rd_party/**/dist/

3rd_party/openssl/*.tar.gz
3rd_party/boost/*.tar.gz

.vscode/
.idea/
*.swp

.DS_Store


__pycache__/
*.pyc
*.pyo
*.pyd
